<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
    <h1>Welcome to text analyzer.Enter your text below</h1>
    <form action="/analyze" method="get">
        <textarea name="text" spellcheck="false" style="width: 638px; height: 131px;"></textarea>
        <br>
        <input type="checkbox" name="removepunc">Remove punctuations <br>
        <input type="checkbox" name="fullcaps">Uppercase <br>
        <input type="checkbox" name="lineremover">Remove new line<br>
        <input type="checkbox" name="spaceremover">Remove extra spaces<br>
        <input type="checkbox" name="charcounter">Count characters<br>
        <button type="submit">Analyze Text</button>
    </form>

</body>
</html>

<!--  Backup code for the site if anything happens to the main thing-->